# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://avro:avro@db:5432/avro?schema=public"

CORS_ORIGIN="http://localhost:8000"

# openssl rand -base64 60
JWT_SECRET_KEY="q6Z/8b4hmarA4kfi3ySSGYKHiw7cjODh/7CKkiJvvUWwiFRHVM73VKPKP9YpOY9FLs9Jv5roZi+2SQmH"
JWT_EXPIRES_IN="18h"

GITLAB_API_URL="http://gitlab"
GITLAB_PROJECT_ID="root/avro-schemas"
GITLAB_PERSONAL_ACCESS_TOKEN="glpat-arpUT9sToyCU72ZiXReQ"
GITLAB_SCHEMAS_DIRECTORY_PREFIX="schemas"

AVRO_SCHEMA_JSON_INDENT="  "  # - 2 spaces or just "2"
AVRO_SCHEMA_FILE_FORMAT="json"  # json | avsc

TZ="Asia/Yekaterinburg"