.form-input-container
  margin-top 2rem
  display flex
  flex-direction column

  gap 24px

  .form-input-row
    display flex

  input[type='text'], input[type='password']
    background-color var(--color-background)
    padding 16px 16px
    width 100%
    border 1px solid var(--color-border)
    color var(--color-text)
    border-radius 8px

  input[type='submit'], button.submit
    padding 12px 24px
    border none
    border-radius 8px
    font-weight 600